*,
*:after,
*:before {
  box-sizing: inherit;
  -webkit-user-drag: none;
  user-select: none;
  cursor: none;
}

html,
body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

h1 {
  @apply text-white leading-none;
  font-family: "Illini";
  font-size: 150px !important;
	+ h2 {
    @apply text-5xl text-white uppercase tracking-widest;
		font-family: "Frutiger Bold Italic";
	}
}

.subtitle {
  @apply text-4xl uppercase text-white tracking-widest;
  font-family: "Frutiger Bold Italic";
}

.disable {
  pointer-events: none;
  cursor: default;
}

.scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 0px;
  }
}