@font-face {
  font-family: "Illini";
  src: url("~@/assets/fonts/illini/illini.otf") format("opentype");
}

@font-face {
  font-family: "Illini Bold";
  src: url("~@/assets/fonts/illini/illini_bold.otf") format("opentype");
}

@font-face {
  font-family: "Illini Outline";
  src: url("~@/assets/fonts/illini/illini_outline.otf") format("opentype");
}

@font-face {
  font-family: "Frutiger Black";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-Black.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Black Condensed";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-BlackCn.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Black Italic";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-BlackItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Bold";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Frutiger Bold Condensed";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-BoldCn.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Bold Italic";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-BoldItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Condensed";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-Cn.otf") format("opentype");
}

@font-face {
  font-family: "Frutiger Extra Black Condensed";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-ExtraBlackCn.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Italic";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Light";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Light Condensed";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-LightCn.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Light Italic";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-LightItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Roman";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-Roman.otf")
    format("opentype");
}

@font-face {
  font-family: "Frutiger Ultra Black";
  src: url("~@/assets/fonts/frutiger/FrutigerLTStd-UltraBlack.otf")
    format("opentype");
}

.smooth {
  -webkit-text-stroke: 0.35px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}