<template>
  <section v-if="!loading" class="bg-blue">
    <div class="flex items-center h-full" :class="{'flex-row-reverse': screen === 'right'}">
      <div v-if="!activePlayer" class="mx-16 text-white text-center">
        <h1>Illini</h1>
        <h2 v-if="!activeSeason">{{activeAward.name}}</h2>
        <p v-show="activeAward.name === 'letterwinners' && !activeSeason" class="subtitle">{{activeLetterWinnerDecade}}<span class="text-2xl">s</span></p>
        <p v-if="activeSeason" class="subtitle">{{activeSeason}} season</p>
      </div>
      <grid ref="grid" v-if="!activePlayer" :players="activePlayers" />
    </div>
    <active-player ref="activePlayer" v-if="activePlayer" :player="activePlayer" :screen="screen" />
    <transition name="fade">
      <video-player v-if="isVideoPlayer" :video="video" @videoEnd="video = null" />
    </transition>
  </section>
</template>

<script>
import Grid from "../components/Grid";
import ActivePlayer from "../components/ActivePlayer";
import VideoPlayer from "../components/VideoPlayer";
import settings from "electron-settings";
import { mapState } from "vuex";
import anime from "animejs";

export default {
  name: "Home",
  data() {
    return {
      screen: settings.getSync("config.version"),
      isVideoPlayer: settings.getSync("config.isVideoPlayer"),
      tickIndex: null,
      maxCount: 80,
      remainderShown: null,
      activePlayers: [],
      gridSlices: {},
      video: null
    }
  },
  computed: {
    ...mapState({
      loading: state => state.api.loading,
      players: state => state.api.players,
      awardIndex: state => state.api.awardIndex,
      activeAward: state => state.api.activeAwardType,
      activeLetterWinnerDecade: state => state.api.activeLetterWinnerDecade,
      activeSeason: state => state.api.activeSeason,
      activePlayer: state => state.api.activePlayer
    }),
    activeAwardPlayers() {
      return this.players[this.activeAward.key];
    }
  },
  mounted() {
    this.$options.sockets.onmessage = async msg => {
      if (this.loading) return;

      const data = JSON.parse(msg.data);

      if (data.timeout) window.location.replace('index.html');

      if (data.toIndex) {
        if (this.activeSeason) {
          if (this.screen === "left") this.activePlayers = this.getScreenPlayers(this.activeAward.key, this.gridSlices.leftSliceStart, this.gridSlices.leftSliceEnd);
          if (this.screen === "right") this.activePlayers = this.getScreenPlayers(this.activeAward.key, this.gridSlices.rightSliceStart, this.gridSlices.rightSliceEnd);
        }
        this.$store.commit("setActivePlayer");
        this.$store.commit("setActiveSeason", null);
        this.video = null;
        this.$nextTick(() => this.$refs.grid.showGrid());
      }

      if (data.back) {
        if (!this.activePlayer && this.activeSeason) {
          this.$store.commit("setActiveSeason", null);
          this.activePlayers = this.getScreenPlayers(this.activeAward.key, this.tickIndex * this.maxCount, (this.tickIndex * this.maxCount) + this.maxCount);
        }
        this.$store.commit("setActivePlayer");
        this.video = null;
      }

      if (data.gridCycle) {
        if (this.loading || this.activeSeason || this.activePlayer || this.video) return;

        await this.$refs.grid.fadeGrid();

        const { award, decade, slices } = data;

        this.gridSlices = slices;

        this.$store.commit("setActiveAward", award);
        this.$store.commit("setActiveLetterWinnerDecade", decade);

        if (this.screen === "left") this.activePlayers = this.getScreenPlayers(award, slices.leftSliceStart, slices.leftSliceEnd);
        if (this.screen === "right") this.activePlayers = this.getScreenPlayers(award, slices.rightSliceStart, slices.rightSliceEnd);

        this.$refs.grid.showGrid();
      }

      if (data.year) {
        const { year } = data;

        await this.$refs.grid.fadeGrid();
        this.activePlayers = [];
        this.tickIndex = this.screen === "left" ? 0 : 1;

        this.$store.commit("setActiveSeason", year);

        let players = [];

        Object.values(this.players["letter_winners"]).forEach(array => {
          array.filter(player => {
            if (player.award_type.id === 1 && player.year === year) players.push(player);
          });
        });

        players.sort((a, b) => {
          if (a.player.last_name > b.player.last_name) return 1;
          if (a.player.last_name < b.player.last_name) return -1;
          return 0;          
        });

        this.activePlayers = players.slice(this.tickIndex * (this.maxCount / 2), (this.tickIndex * (this.maxCount / 2)) + (this.maxCount / 2));

        this.$refs.grid.showGrid();
      }

      if (data.id) {
        if (!this.activePlayer) await this.$refs.grid.fadeGrid();

        if (this.activePlayer) await this.$refs.activePlayer.fadePlayer();

        this.$store.commit("setActivePlayer", data.id);

        this.$nextTick(() => {
          anime().restart();
          this.$refs.activePlayer.showPlayer();
        });
      }

      if (data.video) {
        this.video = data.video.video;
      }
    };
  },
  methods: {
    getScreenPlayers(awardName, startSlice, endSlice) {
      if (awardName === "letter_winners") {
        const decadePlayers = this.activeAwardPlayers[this.activeLetterWinnerDecade];
        return decadePlayers.slice(startSlice, endSlice);
      } else {
        const players = this.activeAwardPlayers.slice(startSlice, endSlice);
        return players;
      }
    }
  },
  components: { Grid, ActivePlayer, VideoPlayer }
};
</script>
