<template>
  <div class="settings">
    <h1>Settings: {{ name }}</h1>
    <section>
      <table>
        <tr v-for="(value, key) in config" :key="key">
          <td>{{ key }}</td>
          <td>
            <input v-model.trim="config[key]" />
          </td>
        </tr>
      </table>

      <div class="actions">
        <button @click="save">Save</button>
        <button @click="reset">Reset</button>
        <button @click="exit">Exit</button>
      </div>
    </section>
    <div class="row">
      <section>
        <h2>System</h2>
        <table>
          <tr>
            <td>IP Address</td>
            <td>{{ ip.address }}</td>
          </tr>
          <tr>
            <td>MAC Address</td>
            <td>{{ ip.mac }}</td>
          </tr>
          <tr>
            <td>Hostname</td>
            <td>{{ os.hostname() }}</td>
          </tr>
          <tr>
            <td>Uptime</td>
            <td>{{ os.uptime() }}</td>
          </tr>
        </table>
      </section>
      <section>
        <h2>Paths</h2>
        <table>
          <tr>
            <td>appData</td>
            <td>{{ app.getPath("appData") }}</td>
          </tr>
          <tr>
            <td>userData</td>
            <td>{{ app.getPath("userData") }}</td>
          </tr>
          <tr>
            <td>cache</td>
            <td>{{ app.getPath("cache") }}</td>
          </tr>
          <tr>
            <td>temp</td>
            <td>{{ app.getPath("temp") }}</td>
          </tr>
          <tr>
            <td>logs</td>
            <td>{{ app.getPath("logs") }}</td>
          </tr>
        </table>
      </section>
      <section>
        <h2>Versions</h2>
        <table>
          <tr v-for="(value, key) in versions" :key="key">
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
        </table>
      </section>
    </div>
  </div>
</template>

<script>
import settings from "electron-settings";
import { name, config } from "../../package";
import { remote } from "electron";
import os from "os";

export default {
  name: "Settings",

  data() {
    return {
      name,
      os,
      app: remote.app,
      versions: process.versions,
      config: settings.getSync("config")
    };
  },

  computed: {
    ip() {
      let ifaces = os.networkInterfaces();
      let arr = [];
      for (let iface in ifaces) {
        arr = arr.concat(ifaces[iface]);
      }
      return arr.find(c => c.family === "IPv4" && !c.internal);
    }
  },

  methods: {
    save() {
      settings.setSync("config", this.config);
    },

    reset() {
      settings.setSync("config", config);
      this.config = config;
    },

    exit() {
      window.location.replace("index.html");
    }
  }
};
</script>

<style lang="scss" scoped>
.settings {
  background-color: #333;
  padding: 30px;
  color: #eee;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.settings,
.settings * {
  cursor: pointer;
  font-family: "Source Code Pro";
}

h1,
h2 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

td {
  padding-right: 1em;
  padding-bottom: 0.25em;
}

input,
button {
  background-color: #444;
  border: none;
  color: #fff;
  padding: 0.5em;
}

button {
  margin-right: 10px;
  padding: 0.5em 1em;
  border-radius: 3px;
}

section {
  border: 1px solid #444;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}

div.actions {
  margin-top: 15px;
}

div.row {
  display: flex;

  > section {
    margin-right: 15px;
    flex-grow: 1;
  }

  > section:last-child {
    margin-right: 0;
  }
}
</style>
