<template>
  <section class="absolute top-0 left-0 w-full h-full p-32 flex items-center"
  :class="{'justify-end': screen === 'left'}">
    <div class="flex items-center">
      <div class="text-center">
        <h1 ref="illini">Illini</h1>
        <p ref="award" class="subtitle">Football</p>
      </div>
      <div ref="divider" class="divider mx-24 h-64 w-2 bg-white"></div>
      <div class="player-name text-white uppercase">
        <p ref="firstName" class="text-7xl">{{player.player.first_name}}</p>
        <p ref="lastName">{{player.player.last_name}}</p>
      </div>
    </div>
    <p></p>
  </section>
</template>

<script>
import anime from "animejs";

export default {
  name: "ActivePlayer",
  props: ["player", "screen"],
  methods: {
    showPlayer() {
      let t = anime.timeline();
      t
      .add({
        targets: this.$refs.illini,
        opacity: [0, 1],
        translateX: [-250, 0],
        duration: 500,
        easing: "easeOutQuad"
      })
      .add({
        targets: this.$refs.award,
        opacity: [0, 1],
        translateX: [-180, 0],
        duration: 400,
        easing: "easeOutQuad"
      }, "-=200")
      .add({
        targets: this.$refs.divider,
        opacity: [0, 1],
        scale: [0.5, 1],
        duration: 400,
        easing: "easeOutQuad"
      }, "-=150")
      .add({
        targets: this.$refs.firstName,
        opacity: [0, 1],
        translateX: [250, 0],
        duration: 500,
        easing: "easeOutQuad"
      }, "-=850")
      .add({
        targets: this.$refs.lastName,
        opacity: [0, 1],
        translateX: [150, 0],
        duration: 400,
        easing: "easeOutQuad"
      }, "-=750");
    },
    fadePlayer() {
      return new Promise((resolve, reject) => {
        anime({
          targets: [this.$refs.illini, this.$refs.award, this.$refs.divider, this.$refs.firstName, this.$refs.lastName],
          opacity: [1, 0],
          duration: 350,
          easing: "linear",
          complete: () => {
            resolve();
          }
        });
      });
    }
  }
}
</script>

<style lang="scss" scoped>
h1, p, .divider {
  @apply opacity-0;
}
.divider {
  @apply transform scale-50;
}
.player-name {
  p {
    @apply leading-none;
    &:first-of-type {
      font-family: "Frutiger Italic";
    }
    &:last-of-type {
      font-family: "Frutiger Bold Italic";
      font-size: 150px;
    }
  }
}
</style>