<template>
  <div ref="g" class="grid grid-flow-col h-full w-full bg-blue text-white mx-12"
  :class="{'season-grid': activeSeason}">
    <div class="flex flex-col items-center justify-center" v-for="(player, idx) in players" :key="idx">
      <div class="text-center">
        <strong>{{player.player.full_name}}<br/>{{player.year}}</strong>
      </div>
    </div>
  </div>
</template>

<script>
import anime from "animejs";
import { mapState } from "vuex";

export default {
  name: "grid",
  props: {
    players: {
      type: Array
    }
  },
  computed: {
    ...mapState({
      activeSeason: state => state.api.activeSeason
    })
  },
  methods: {
    showGrid() {
      anime({
        targets: this.$refs.g,
        opacity: 1,
        duration: 500,
        easing: "linear"        
      });
    },
    fadeGrid() {
      return new Promise((resolve, reject) => {
        anime({
          targets: this.$refs.g,
          opacity: 0,
          duration: 500,
          easing: "linear",
          complete: () => {
            resolve();
          }
        });
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.grid {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  &.season-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    > div {
      font-size: 24px;
    }  
  }
}
</style>
