<template>
  <div class="video-player" v-if="video">
    <video :src="video" autoplay @ended="$emit('videoEnd')"></video>
  </div>
</template>

<script>
export default {
  name: "video-player",
  props: ["video"]
};
</script>

<style lang="scss" scoped>
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
