<template>
  <div id="app" :style="appStyle">
    <router-view />
    <version v-bind:persist="false" />
    <idle />
    <data-loader />
  </div>
</template>

<script>
import DataLoader from "./components/DataLoader";
import settings from "electron-settings";
import Version from "@dimensional-innovations/vue-electron-version";
import Idle from "@dimensional-innovations/vue-electron-idle";

export default {
  name: "App",

  components: {
    Idle,
    Version,
    DataLoader
  },

  computed: {
    appStyle() {
      return {
        width: `${settings.getSync("config.appWidth")}px`,
        height: `${settings.getSync("config.appHeight")}px`,
        overflow: "hidden"
      };
    }
  },

  mounted() {
    document.addEventListener("keydown", e => {
      if (e.key === "S") {
        this.$router.push({ name: "Settings" });
      }
    });
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/main";
</style>
